<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homework 3 - Web Server </title>
    <link rel="stylesheet" href="css/styles.css" />

</head>
<body>
    <header>
        <div class="container">
            <div id="logo">KC</div>
            <nav>
                <ul class="nav-links">
                    <li><a href="/">  Home </a></li>
                    <li><a href="/portfolio">Portfolio </a></li>
                </ul>
            </nav>
        </div>
    </header>
    

<div class="container">
   
    <h1 class="titulo"> Welcome I'm Kiara Castillo Magallanes</h1>
    <p> Welcome to my photography website! I’m a student at Indiana University’s Luddy School, currently exploring the world of photography through my coursework at Herron School of Art and Design . This website is a space where I share some of the images I’ve captured moments that have caught my eye, stories told through light and composition, and personal experiments as I develop my skills behind the lens. </p>

    <p> Photography, for me, is more than just taking pictures; it’s about observing the world differently, noticing the small details, and capturing emotions that might otherwise go unnoticed. Through my classes, I’ve been learning about technique, composition, and the power of visual storytelling.</p>


<div class="recent">
    <h3>Recent Projects</h3>
    
</div>
<p class="subtext">Discover some of my latest photography projects below.</p>

<div class="gallery">
    <div class="gallery-item">
        <img src="media/1.stalker-Copy.jpg" alt="Project 1">
        <p>Stalker</p>
    </div>
    <div class="gallery-item">
        <img src="/media/around6-Copy.jpg" alt="Project 2">
        <p>Downtown</p>
    </div>
    <div class="gallery-item">
        <img src="media/2.Hopelessness-Copy.jpg" alt="Project 3">
        <p>Path</p>
    </div>
    <div class="gallery-item">
        <img src="/media/car2-Copy.jpg" alt="Project 4">
        <p>Car</p>
    </div>
</div>



<div class="contact-wrapper">
    <div class="contact-image">
        <img src="media/around.jpg" >
    </div>
    <div class="contact-form-container">
        <div class="contact-title">Get in Touch</div>
        <form class="contact-form">
            <label for="name">Your Name</label>
            <input type="text" id="name" name="name" required>

            <label for="email">Your Email</label>
            <input type="email" id="email" name="email" required>

            <label for="message">Your Message</label>
            <textarea id="message" name="message" rows="4" required></textarea>

            <button type="submit">Send Message</button>
        </form>
    </div>
</div>




</div>
    
</body>

<footer> <p>© 2025 by Kiara Castillo Magallanes | All Rights Reserved</p></footer>
</html>