<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homework 3 - Web Server </title>
    <link rel="stylesheet" href="../css/styles.css" />
</head>
<body>
    <header>
        <div class="container">
            <div id="logo">KC</div>
            <nav>
                <ul class="nav-links">
                    <li><a href="/">  Home </a></li>
                    <li><a href="/porfolio">Portfolio </a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        <h1 class="titulo"> Portfolio</h1>

        <div class="recent">
            Stalker
        </div>

        <div class="recent">
            Downtown
        </div>

        <div class="recent">
            Path
        </div>

        <div class="recent">
            Car
        </div>

    </div>
    
</body>
<footer>© 2025 by Kiara Castillo | All Rights Reserved</footer>
</html>