<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homework 3 - Web Server </title>
    <link rel="stylesheet" href="../css/styles.css" />
</head>
<body>
    <header>
        <div class="container">
            <div id="logo">KC</div>
            <nav>
                <ul class="nav-links">
                    <li><a href="/">  Home </a></li>
                    <li><a href="/portfolio">Portfolio </a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        <h1 class="titulo"> Portfolio</h1>

        <p>Choose background color</p>
    <button onclick="setBgPurple()">Purple</button>
    <button onclick="setBgGray()">Gray</button>
    <button onclick="defaultBgColor()">Reset</button>

        <div class="recent">
         <h3> Stalker</h3>  
        </div>

        <div class="gallerys">
            <img src="media/1.stalker.jpg" alt="Photo 1">
            <img src="media/2.stalker.jpg" alt="Photo 2">
            <img src="media/3.stalker.jpg" alt="Photo 3">
            <img src="media/4.stalker.jpg" alt="Photo 4">
            <img src="media/6.stalker.jpg" alt="Photo 6">
            <img src="media/7.stalker.jpg" alt="Photo 7">
        </div>

        <div class="recent">
          <h3>  Downtown</h3>
        </div>

        <div class="gallerys">
            <img src="media/around2.jpg" alt="Photo 2">
            <img src="media/around.jpg" alt="Photo 1">
            <img src="media/around8.jpg" alt="Photo 3">
            <img src="media/around6.jpg" alt="Photo 4">
         
        </div>

        <div class="recent">
         <h3>  Path</h3> 
        </div>
        <div class="galleryp">
        <img src="media/1.Isolation.jpg" alt="Photo 1">
        <img src="media/2.Hopelessness.jpg" alt="Photo 2">
        <img src="media/3.Self-Criticism.jpg" alt="Photo 3">
        <img src="media/4.Intrusion.jpg" alt="Photo 4">
        <img src="media/5.Resolve.jpg" alt="Photo 5">
        <img src="media/6.Farewell.jpg" alt="Photo 6">
        <img src="media/7...jpg" alt="Photo 7">
        </div>

        <div class="recent">
         <h3>  Car</h3> 
        </div>

        <div class="galleryp">
            <img src="media/car3.jpg" alt="Photo 3">
            <img src="media/car.jpg" alt="Photo 1">  
             <img src="media/car2.jpg" alt="Photo 2">
            <img src="media/car4.jpg" alt="Photo 4">
           
            </div>

            

    </div>
    <script src="js/app.js"></script>

    
</body>
<footer>© 2025 by Kiara Castillo | All Rights Reserved</footer>
</html>